word2vec/*.bin
matlab/external/cvx/*

word2vec/vectors.txt
word2vec/vocab.txt
word2vec/vectors_and_vocab.txt
word2vec/vectors.bin
word2vec/vocab.bin
word2vec/vectors_and_vocab.bin
word2vec/text8

docs/proposal/*.pdf
docs/proposal/*.aux
docs/proposal/*.blg
docs/proposal/*.out
docs/proposal/*.bbl
docs/proposal/*.log

*.swp
*.pyc
